body {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  background-color: rgb(255, 136, 128);
  font-size: 1.5rem;
}

.bioDiv {
  padding-left: 30px;
  padding-right: 0;
}

.col-md-3 {
  padding: 0;
}

.col-md-9 {
  padding-right: 0;
}

.name {
  font-size: 15rem;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
}

.role {
  margin-top: -50px;
  font-size: 5rem;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  letter-spacing: 10px;
}

.bio {
  font-size: 1.25rem;
  text-align: justify;
  font-family: 'Barlow', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.infoRow {
  margin-top: 55px;
}

.profileImg {
  height: 300px;
  padding-right: 25px;
  margin-top: 85px;
}

.imgDiv {
  text-align: right;
  padding-right: 35px;
  margin-bottom: 0;


}

.image {
  height: 325px;
  padding-top: 55px;
  margin-bottom: 0;
}

.techSkillDiv {
  font-size: 1.25rem;
  font-family: 'Barlow', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
  border-radius: 2px;   
}

.linkHeader {
  border: 1px rgba(255, 255, 255, 0) solid;
  font-family: 'Barlow', sans-serif;
  border-radius: 2px;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 0;
  line-height: 1.5;
  padding-left: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: white;
}

.linkHeader:hover {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  cursor: pointer;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  
  
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
}

.techs {
  font-family: 'Barlow', sans-serif
}

.borderless td {
  border: none;
  font-size: 1.25rem;
  padding: 0;
}

