.contact-container {
    background-color: rgb(201, 223, 236);
    box-shadow: 0 3px 3px inset rgba(0, 0, 0, 0.1), 0 -3px 3px inset rgba(0, 0, 0, 0.1);

}

.card {
    margin-top: 100px;
    border-color: rgb(121, 160, 182);
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.1);

}

label {
    color: rgb(70, 95, 110);
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    padding-left: 5px;
}
.contact-btn {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    margin-top: 15px;
    background-color: rgb(121, 160, 182);
    border-color: rgb(121, 160, 182);
}

.contact-btn:hover {
    background-color: rgb(78, 118, 141);
    border-color: rgb(78, 118, 141);
    color: white;
}
.contact-btn:active:focus {
    background-color: rgb(57, 106, 134);
    border-color: rgb(57, 106, 134);
    color: white;
}
.card-header {
    background-color: rgb(121, 160, 182);
    border-color: rgb(121, 160, 182);
}

.contactMe {
    font-size: 3rem;
}

.emailLink {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    color: rgb(70, 95, 110);
}