.siteInfo {
    font-size: 1.25rem;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    text-align: justify;
    color: rgb(66, 66, 66);
    font-family: 'Barlow', sans-serif;
}

.sites {
    width: 90%;
    border-radius: 3px;
    border: 2px rgb(223, 223, 223) solid;
    margin-top: 15px;
}

.sites:hover {
    opacity: 0.8;
    
}

.links a {
    color: white;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0;
    margin-top: 25px;
    text-align: right;
    margin-right: 25px;
}

.section {
    background-color: rgb(201, 223, 236);
    box-shadow: 0 3px 3px inset rgba(0, 0, 0, 0.1), 0 -3px 3px inset rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.siteDiv {
    text-align: center;
    border-radius: 4px;
}

.portfolioHeader {
    color: white;
    text-align: left;
    padding-left: 45px;
}

.portfolioHeaderDiv {
    background-color: rgb(121, 160, 182);
    border-radius: 4px 4px 0 0;

}

.githubLink {
    color: rgb(77, 77, 77);
    font-size: 1.25rem;
    text-align: right;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

.githubLink:hover {
    text-decoration: none;
    color: black;

}

@media only screen and (max-width: 600px) {
    .portfolioHeader {
        padding-left: 5px;
    }
    .sites {
        width: 95%;
    }

    .siteInfo {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.25;  
    }
}